h1 {

	font-size: 40px;
	
}

h2 {
	font-size: 30px;
	
}

h3 {
	font-size: 30px;
	
}
	
	.searchedmovie {
	
	padding: 10px 0px;

	max-width: 30%;
	
	}
	
	.searchedmovie:hover {
		cursor: pointer;
	}
	
	.searchedmovie img {
		max-height: 250px;
	}


	.rated-movie-info {
	display: block;
	padding: 30px 20px 60px 100px;
	max-height: 50px;
	}
	 
	.rated-movie-info h3 {
	font-size:25px;
	}
	

	
	.formi {
	display: inline-block;
	padding-top: 80px;
	}

	.tableinputit td {
	display: inline-block;
	padding: 10px;
	width: 33%;
	}
	
	.tableinputit th {
	display:inline-block;
	padding-right: 250px;
	}
	
	
	.rated-movie-info img{
	
	max-height: 150px;
	
	}
	
	.rated-movie-info > div{
	display: inline-block;
	width: 120px;	
	}
